.container-base{
    width: 400px;
    height: 200px;   
    margin-left: auto;
    margin-right:auto;
    background-color: #FFEFDB;
    margin-top: 10px;
    
}

.popupA{
    z-index: 99999;
    display: none;
    width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.55);
   position: absolute;
   top: 0;
   left: 0;
}


.boxCo{
    width: 600px;
    height: 400px; 
    padding: 50px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}