.beckground {
    width: 100%;   
    background-image: url('bg-min.png');
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; /*Css padrão*/
   
}

p{
     color: #FF7F00;
     font-family:'Roboto';     
}

.sobre-container{
	width:93%;
	height:auto;
        padding: 40px;
	background-color: #fff ;
               
}
/*------------------------------------------------------*/

.barra-total{
	width: 100%;
	height: 60px;
	background-color: #FF7F00;
}

.barra-central{
	width: 1200px;
	height: 60px;
	margin-left: auto;
	margin-right:auto;
	
}

.main-body{
	width: 1200px;
	height: 2000px;
        margin-top: 5px;
	margin-left: auto;
	margin-right:auto;
	background-color: #fff ;
}

.box-body{
        width: 1000px;
	height: 2000px;
        display: block;
        float: left;
        margin-top: 5px;
	margin-left: 100px;	
	background-color: #fff ;    
        border: 1px solid #FF7F00;
        position: absolute;
}


.mgl{margin-left: 10px;}

.box-user{
        width: 450px;
	height: 150px;
        margin-top: 40px;
        display: block;
        float: left;
	
}

.box-user-img{
        width: 150px;
	height: 140px;
       	display: block;
        float: left;
        border-radius:100px ; 
	
}

.box-user-info{
        width: 220px;
	height: 80px;
       	display: block;
        margin-top: 15px;
        padding: 20px;
        float: left;
	
}
























.footer{
	width: 1200px;
	height: 100px;
        margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
	background-color: #548B54;
}