.body-a {
    width: 100%;   
    background-image: url('../Imagens/bg-min.png');
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; /*Css padrão*/
   
}

.cad-body{
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right:auto;
        border: 1px solid #c0c0c0;
	padding: 40px;
        background-color: #FAFAD2;
}

.cad-container{
        width: auto;
	height: auto;	
        border: 1px solid #c0c0c0;
	padding: 15px;
        margin-top: 15px;
        
}
.cad-form{
        width: 560px;
	height: auto;	
        border: 0px solid #c0c0c0;
	padding: 15px;
        margin-top: 15px;
}